<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918947814336-4ot90hguavm5fhrrb0b6sb6hf9mtdlph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918947814336-4ot90hguavm5fhrrb0b6sb6hf9mtdlph</string>
	<key>API_KEY</key>
	<string>AIzaSyB5lSR6eUx6Fxs2kCItb2cjpv9H7L72FmU</string>
	<key>GCM_SENDER_ID</key>
	<string>918947814336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myLibraryApp</string>
	<key>PROJECT_ID</key>
	<string>bookshilf-b2292</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshilf-b2292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918947814336:ios:9a44767694ca85ef8ec625</string>
</dict>
</plist>